// Pages primary colors

$black: #070707;
$white: #eeeeee;
$lightBlue: #8ECAE6;
$mediumBlue: #219EBC;
$darkBlue: #023047;
$lightOrange: #FFAD5E;
$orange: #FB8500;
$darkOrange: #CC7519;
$lightYellow: #FFCC6A;
$yellow: #FFB703;
$darkYellow: #C7941F;
