// Pages primary colors

$black: #070707;
$lightGrey: rgb(229, 229, 229);
$grey: rgba(115, 115, 115, 0.67);
$darkGrey: rgba(63, 63, 63, 0.67);
$white: #f3f3f3;
$lightBlue: #8ECAE6;
$mediumBlue: #27b9dc;
$darkBlue: #023047;
$lightOrange: #FFAD5E;
$orange: #FB8500;
$darkOrange: #CC7519;
$red: #FF5252FF;
$lightYellow: #FFCC6A;
$yellow: #FFB703;
$darkYellow: #C7941F;
