@use '../../variables/colors' as c;

.auth-form-container {
  display: flex;
  width: fit-content;
  margin-top: 8em;
  margin-inline: auto;
  padding: 3em;
  flex-direction: column;
  outline: c.$grey 0.5px solid;
  box-shadow: c.$grey 0 0 13px;
  background-color: c.$lightGrey;
}

.form-container {
  display: flex;
  margin: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .button {
    flex-grow: 0;
  }
}

.form-inputs-container {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
  row-gap: 1.5em;
  column-gap: 2.2em;
  &.single {
    grid-template-columns: auto;
  }
}

@media screen and (max-width: 992px) {
  .form-inputs-container {
    grid-template-columns: auto;
    column-gap: 0;
  }
}

.input-container {
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
  width: 100%;
  max-width: 188px;

}

.error {
  color: c.$red;
  margin-top: 0.4rem;
}
