// General CSS
@use "../variables/colors" as c;
@use 'basic/inputs';
@use 'basic/widths';
@use 'basic/text';
@use 'basic/padding-margin';
@use 'basic/visibility';
@use "basic/colors";

// General Components CSS
@use 'navbar';
@use 'footer';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: auto;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

.app-container {
  position: relative;
}

.main {
  min-height: 100vh;
  padding-inline: 2rem;
  margin-bottom: 3rem;
}

.link {
  text-decoration: none;
}


.title {
  text-align: center;
}

.list-no-decoration {
  list-style: none;
  padding: 0;
  margin: 0;
}


