@use "../variables/colors" as c;
@use "colors";
@use 'inputs';
@use 'navbar';


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

.page-link {
  text-decoration: none;
}


.page-title {
  text-align: center;
}

.list-no-decoration {
  list-style: none;
}


