@use '../variables/colors' as c;

// Movie cards container

.movie-cards-container {
  padding: 3em;
  display: grid;
  grid-template-columns: auto auto auto auto;
  column-gap: 0.5em;
  row-gap: 2.5em;
  justify-content: space-evenly;
}

// Movie card

.movie-card {
  background-color: transparent;
  width: 133px;
  height: 177.8px;
  perspective: 1000px;
  font-family: sans-serif;

  &:hover .movie-card-inner {
    transform: rotateY(180deg);
  }

}

.movie-card-title {
  z-index: 2;
  left: 0;
  right: 0;
  font-size: 1.1em;
  padding: 0.4em;
  font-weight: 900;
  margin: 0;
}

.movie-card-subtitle {
  z-index: 2;
  font-size: 0.9rem;
  padding: 0.5em;
  font-weight: 900;
  margin: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;

  & > span {
    margin-left: 0.5em;
  }
}


.movie-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.movie-card-front, .movie-card-back {
  box-shadow: 0 8px 14px 0 rgba(0, 0, 0, 0.2);
  position: absolute;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border: 1px solid darken(c.$darkOrange, 20%);
  border-radius: 1rem;
  overflow: hidden;
}

.movie-card-front {
  background: linear-gradient(120deg, lighten(c.$lightOrange, 10%) 60%, lighten(c.$lightOrange, 30%) 88%,
          c.$lightOrange 40%, c.$orange 48%);
  color: darken(c.$darkBlue, 2%);
}

.movie-card-back {
  background: linear-gradient(120deg, c.$lightOrange 30%, c.$orange 88%,
          lighten(c.$lightOrange, 15%) 40%, lighten(c.$lightOrange, 5%) 78%);
  color: c.$white;
  transform: rotateY(180deg);

  .movie-card-image {
    opacity: 1;
    filter: blur(4px) brightness(50%);
    transform: scaleX(-1);
    border-radius: 1rem;
  }
}

.movie-card-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}