@use '../../variables/colors' as c;

$colorsList: (
        'black': c.$black,
        'white': c.$white,
        'light-blue': c.$lightBlue,
        'blue': c.$mediumBlue,
        'dark-blue': c.$darkBlue,
        'light-orange': c.$lightOrange,
        'orange': c.$orange,
        'dark-orange': c.$darkOrange,
        'light-yellow': c.$lightYellow,
        'yellow': c.$yellow,
        'dark-yellow': c.$darkYellow,
);

// Color classes

@each $name, $color in $colorsList {
  .#{$name} {
    color: #{$color};
  }
}

// Background color classes

@each $name, $color in $colorsList {
  .bg-#{$name} {
    background-color: #{$color};
  }
}

// Link colors


@each $name, $color in $colorsList {
  .link-#{$name} {
    &, &:visited {
      color: #{$color};
    }
    &:hover {
      color: darken($color, 23%);
    }
  }
}