body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

.page-link {
  text-decoration: none;

  &, &:visited {
    color: #282c34;
  }

  &:hover {
    color: #4a4b50;
  }
}

.main {
  padding: 0.8rem;
  .page-title{
    text-align: center;
  }
}

.list-no-decoration {
  list-style: none;
}

.header {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
  background-color: #61dafb;
  align-content: center;

  .navbar {
    align-self: center;
  }

  .navbar-links {
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
    list-style: none;
  }
}
